@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

:root {
  --color-black: #000000;
  --color-black-80: rgba(0, 0, 0, 0.8);
  --color-white: #ffffff;
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-accent: #7e21d4;
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: 100%;
}

li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a.active::before {
  transform: scaleX(1);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
  overflow: hidden;
}

main {
  flex: 1 0 auto;
}

.wrapper {
  padding: 6rem 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
